@import "index.css";
@import "play.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 20px 30px;
  position: relative;
  font-family: "Noto Serif KR", serif;
}

:root {
  --gray: rgba(54, 54, 54, 0.541);
  --black: rgb(54, 54, 54);
  --pink: #ea8685;
}
