body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: yellow;
}

.animation-box {
  height: 80%;
  width: 60%;
  background-color: #6bbcbe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.animation-box__icons {
  display: flex;
}

.animation-box__icons .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  margin: 0 10px;
}

.animation-box__icons .bar {
  width: 10px;
  height: 40px;
  background-color: white;
  margin: 0 5px;
}

.animation-box {
  transition: transform 2s linear;
}

.animation-box:hover {
  transform: rotateZ(180deg);
}

.animation-box__icons:first-child {
  animation: rotatingcircle 1s ease-out infinite;
}

@keyframes rotatingcircle {
  from {
    transform: rotatez(0);
  }
  to {
    transform: rotateZ(180deg);
  }
}

.animation-box__icons .bar {
  animation: wavebar 1s linear infinite;
}

@keyframes wavebar {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(2);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

.animation-box__icons .bar:first-child {
  animation-delay: 0.1s;
}
.animation-box__icons .bar:nth-child(2) {
  animation-delay: 0.2s;
}
.animation-box__icons .bar:nth-child(3) {
  animation-delay: 0.3s;
}
.animation-box__icons .bar:nth-child(4) {
  animation-delay: 0.4s;
}
.animation-box__icons .bar:last-child {
  animation-delay: 0.5s;
}
